<div class="container-fluid">
  <div style="margin-top:30px;" width="100%">

    <form (ngSubmit)='findprofile()' class="search-form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Github username" [(ngModel)]="username" name="username">
        <br>
        <button class="btn btn-danger" type="submit">search</button>
      </div>
    </form>






    <div class="panel-body">
      <img class="img-circle img-responsive" src="{{profile.avatar_url}}" size="20px">
    </div>
    <br />
    <ul class="list-group">
      <li class="list-group-item"><strong>usersname: </strong>{{profile.login}}</li>
      <li class="list-group-item"><strong>Email: </strong>{{profile.email}}</li>
      <li class="list-group-item"><strong>Location: </strong>{{profile.location}}</li>
      <li class="list-group-item"><strong>Blog: </strong>{{profile.blog}}</li>
      <li class="list-group-item"><strong>Member Since: </strong>{{profile.created_at}}</li>
      <div class="stats">
        <span class="badge badge-secondary">{{profile.public_repos}} Public Repos</span> &nbsp;
        <span class="badge badge-success">{{profile.followers}} Followers</span> &nbsp;
        <span class="badge badge-info">{{profile.following}} Following</span>
      </div>
    </ul>
  </div>
</div>
<br><br>

<strong><em><h3 style="text-align:center">REPOSITORIES</h3></em></strong>
<div *ngFor="let repo of repos" style="text-align:center">
  <h4><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></h4>
  <p>{{repo.description}}</p>
  <span class="badge badge-default">{{repo.watchers}} Watchers</span>
  <span class="badge badge-primary">{{repo.forks}} Forks</span>
</div>
