form {
  margin: 0 auto;
}

.container {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  font-size: large;
}

body {
  background-image: url("https://i.pinimg.com/564x/40/c7/12/40c712e5f3833bc38dbe1213da27069e.jpg");
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  position: relative;
  background-position: cover;
  color: black;
  text-decoration: none;
  font-size: large;
}

h1 {
  font-size: 300%;
  font-family: sans-serif;
  color: gray;
}

h3 {
  font-size: 150%;
  font-family: monospace;
  color: tan;
}

button {
  font-size: 15px;
  text-align: center;
  height: 3%;
  width: 7%;
}

#ngamia {
  border: 2px solid whitesmoke;
  padding: 10px;
}
p {
  color: crimson;
}
